<div class="container">
	<p></p>
	<p><%= link_to( 'Home',root_path, class:"btn btn-default btn-xs")%></p>
	<p> <% if user_signed_in?%>
		<table class="table">
			<tr><td>
			<%= 'Hello, ' %>	<%= link_to( current_user.first_name + ' ' + current_user.last_name, user_path(current_user.id), class:"btn btn-default btn-xs")%>
			<td><%= 'Your Current Points: ' %><span class="badge badge-success"><%= link_to( current_user.total_points, products_path) %></span> </td> </td><td><%= link_to('Sign Out', destroy_user_session_path, method: :delete, class:"btn btn-default btn-xs")%></td></tr></table>
				
		<% else%>
		<table class="table"><tr><td>
			<%= link_to('Sign In', new_user_session_path, class:"btn btn-default btn-xs")%>
		</td></tr></table>
	<%end%>
	</p>
	<p>
		<h1>WELCOME</h1>
		<table class="table">
			<tr><th>Your Projects</th><th>Recent Projects</th></tr>
			<tr><td>Current Projects</td><td>Last 5 Projects</td></tr>
		</table>
	</div>
