
<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited
      this project from being saved:</h2>
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> clam4-master
<div class="input-group">
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, class:"form-control" %>
<<<<<<< HEAD
=======
=======
<div class="form-group">
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
>>>>>>> 33d82b381f4ba8f0bb6d65c84c2c6661e3bd943f
>>>>>>> clam4-master
  </p>

  <p>
    <%= f.label :time_frame %><br>
<<<<<<< HEAD
    <%= f.text_field :time_frame, class:"form-control" %>
=======
<<<<<<< HEAD
    <%= f.text_field :time_frame, class:"form-control" %>
=======
    <%= f.text_field :time_frame %>
>>>>>>> 33d82b381f4ba8f0bb6d65c84c2c6661e3bd943f
>>>>>>> clam4-master
  </p>

  <p>
    <%= f.label :description %><br>
<<<<<<< HEAD
    <%= f.text_area :description, class:"form-control" %>
=======
<<<<<<< HEAD
    <%= f.text_area :description, class:"form-control" %>
=======
    <%= f.text_area :description %>
>>>>>>> 33d82b381f4ba8f0bb6d65c84c2c6661e3bd943f
>>>>>>> clam4-master
  </p>

  <p>
    <%= f.submit "Save", class:"btn btn-default"%>
  </p>
</div>
<% end %>
