<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited
      this project from being saved:</h2>
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>


<div class="form-group">
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>


  <p>


    <%= f.text_field :time_frame, class:"form-control" %>
  </p>


  <p>
    <%= f.text_area :description, class:"form-control" %>
  </p>


  <p>
    <%= f.submit "Save", class:"btn btn-default"%>
  </p>
</div>
<% end %>

