<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image:</strong>
<<<<<<< HEAD
  <%= @product.image %>
=======
  <%= image_tag @product.image %>
>>>>>>> 33d82b381f4ba8f0bb6d65c84c2c6661e3bd943f
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
