<% if notice %>
<p id="notice" ><%= notice %></p>
<% end %>

<h1>Avatar Store</h1>
<% @products.each do |product| %>
  <div class="list_items">
      <div class="prod_image">
        <%= image_tag(product.image) %>
      </div>

<h3><%= product.title %></h3>
<%=sanitize product.description %>

<div class="price_line" >
  <span class="price" ><%= number_to_currency(product.price) %></span>
  <%= button_to 'Add to Cart', line_items_path(:product_id => product), class: "button-style", :remote => true %>
</div>

</div>
</div>
<% end %>