<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Store</title>
=======
  <title>IdeaHub</title>
>>>>>>> 8fbb2693a719143f28fad54a9febf1c15839e133
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
  <body id="store" >
  <div id="banner" >
  <%= image_tag("Orange.png") %>
  <%= @page_title || "Avatar Store" %>
  </div>
  <div id="columns" >
  <div id="side" >
  <%= link_to 'Store', products_path %><br />
  </div>
  <div id="main" >
  <%= yield %>
  </div>
 </div>
=======

<%= yield %>

>>>>>>> 8fbb2693a719143f28fad54a9febf1c15839e133
</body>
</html>
